<header id="header">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/">poodle</a>

    <div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/links">Create My Poll</a>
      </div>

    </div>

  </nav>
</header>