<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Your Link</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include("partials/_header"); %>
  </header>

  <h2>Create Your Link</h2>
  <form method="POST" action="/api/links" id="poll-form">
    <div>
      <label for="email">Enter your email</label><br>
      <input type="email" name="email" required>
    </div>
    <div>
      <label for="title">Enter a title</label><br>
      <input type="text" name="title" id="title" required>
    </div>


    <div>
      <label for="description">Add description</label><br>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>

    <div class="option">
      <label for="option">Option 1: </label><input type="text" name="option1" required><br>
      <label for="option">Option 2: </label><input type="text" name="option2"><br>
      <label for="option">Option 3: </label><input type="text" name="option3"><br>
      <label for="option">Option 4: </label><input type="text" name="option4"><br>
      <label for="option">Option 5: </label><input type="text" name="option5"><br>
      <label for="option">Option 6: </label><input type="text" name="option6"><br>
      <label for="option">Option 7: </label><input type="text" name="option7"><br>
      <label for="option">Option 8: </label><input type="text" name="option8"><br>

    </div>
    <!-- <button id="give-links">Create a link!</button> -->
    <input type="submit" value="create a link">


  </form>
  <ul id="links">

  </ul>

</body>

</html>