// See: https://sass-lang.com/

body,
html {
  margin: 0;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #555b6e;
  font-family: Nunito;
}

.content {
  align-self: center;
  background-color: #bee3db;
  width: fit-content;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .column1 {
    padding: 2rem;
  }

  .column2 {
    padding: 2rem;
  }

  input {
    width: 18rem;
    border-radius: 5px;
    margin: 0.5rem;
    border-color: transparent;
  }

  textarea {
    width: 18rem;
    border-radius: 5px;
    margin: 0.5rem;
    border-color: transparent;
  }

  #submit {
    background-color: #DDA15E;
    border-color: #606C38;
    width: 10rem;

  }
  .title {
    width: 8rem;
  }

}
h3 {
  padding: 1rem;
  font-family: Nunito;
}

#links {
  list-style-type: none;
  font-family: Nunito;
}

@media only screen and (min-width: 600px) {
  .content {
    display: flex;
  }
  .columns {
    display: flex;
    flex-direction: row;
  }
}
