// body {

// }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.index {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../image/Poodle.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  button {
    transition: all 0.5s ease;
    color: #89B0AE;
    border: 4px solid #464B5B;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 2rem;
    background-color: transparent;
    padding: 10px;
    margin: 0.3rem;
    outline: none;
    border-radius: 15px;
  }

  button:hover {
    color: #001F3F;
    background-color: #BEE3DB;
  }

  div {
    font-size: 2em;
  }

  #wobble {
    font-size: 5em;
    font-family: 'Bree Serif', serif;
    color: #89B0AE;
  }
}
