body {
  background-color: #FEFAE0;
}

h3 {
  text-align: center;
}

.btn-green {
  color: #555B6E;
}

.panel-footer {
  border: none;
  text-align: left;
  width: 10%;
  background-color: #FEFAE0;
}

.sv-ranking {
  color: #000000;
}

.sv-string-viewer {
  font-size: 1em;
}

#dog {
  width: 80%;
}
