body {
  background-color: #DDA15E;
}

.btn-green {
  color: #555B6E;
}

.panel-footer {
  border: none;
  text-align: left;
  width: 10%;
  background-color: #DDA15E;
}

.sv-ranking {
  color: #000000;
}
