body {
  background-color: #FEFAE0;
  display: flex;
  flex-direction: column;

  #voter-name {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }

  #submit-name {
    align-self: center;
    background-color: #DDA15E;
    border-color: #606C38;
    width: 10rem;
  }


}

h3 {
  text-align: center;
}

.btn-green {
  color: #555B6E;
}

.panel-footer {
  border: none;
  text-align: left;
  width: 10%;
  background-color: #FEFAE0;
}

.sv-ranking {
  color: #000000;
}

.sv-string-viewer {
  font-size: 1em;
}

#dog {
  width: 100%;
  align-self: center;
}
